#root , #app {
  width: 100%;
  height: 100vh;
}

.mirror-wrapper {
  width: 100%;
  height: 100vh;
  display:flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.mirror {
  width: 100%;
  height: 100hv;
}
